@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$purple: rgb(167, 41, 245);
$lightGreen: rgb(38, 215, 130);
$red: rgb(238, 84, 84);
$white: rgb(255, 255, 255);
$veryDarkBlue: rgb(49, 62, 81);
$darkBlue: rgb(59, 77, 102);
$darkGray: rgb(98, 108, 127);
$darkGrayOpacity: rgba(98, 108, 127, 0.6);
$lightBlue: rgb(171, 193, 225);
$veryLightBlue: rgb(244, 246, 250);
$blackOpacity: rgba(0, 0, 0, 0.6);

